
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="Hakkımızda">
            <h4>Hakkımızda</h4>
            <br />
            <img src="~/web/images/Turkiye-turizm-1.jpg" alt="" />
            <p>
                ​Dünyanın en popüler 4. turizm merkezi olan ve 2021 yılında 29,9 milyondan fazla turist ağırlayan Türkiye, turizm endüstrisinin gerek oturmuş gerekse gelişmekte olan alt sektörlerinde geniş yatırım fırsatları sunmaya devam etmektedir. Elverişli konumu, mevcut potansiyeli ve mega projeleriyle turizm sektörü, yatak kapasitesini aşan bir hızla büyümeye devam etmektedir. Son yıllarda ülkeye yapılan yatırımlarda dikkat çekici bir artış olmasına rağmen yeni girişimler için hâlâ büyük fırsatlar bulunmaktadır. Doğu ve Güneydoğu Anadolu, kültür turizminin yanı sıra bölgelerin karakteristik özelliği, tarihi ve kültürüyle de örtüşen ve giderek yaygınlaşan butik otel konsepti açısından değerlendirilmeyi bekleyen önemli bir potansiyel barındırmaktadır. Travel Trip ile bu güzellikler hakkında bilgiler edinip görüntüleyebileceksiniz.
            </p>
        </div>
    </div>
</div>

