

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="Hakkımızda">
            <h3>About</h3>
            <img src="~/web/images/Turkiye-turizm-1.jpg" alt="" />
            <p>Lorem ipsum dolor</p>
        </div>
    </div>
</div>

